@font-face {font-family: roboregular;src: url(../fonts/Roboto/Roboto-Regular.ttf);}
@font-face {font-family: KdamThmorPro;src: url(../fonts/Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf);}

/* https://harnishdesign.net/demo/react/callum/demo/?theme=Full%20Screen%20Menu&intro=default */

html{scroll-behavior: smooth;}
:root {--color_1: #fff;--color_2: #212529;--color_3: #424649;--color_4: #f5df4e;}
* {margin: 0;padding: 0;font-size: 16px;font-family: roboregular;}
a {text-decoration: none;}

/* loader css */
@keyframes configure-clockwise {
    0% {transform: rotate(0);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
@keyframes configure-xclockwise {
    0% {transform: rotate(45deg);}
    25% {transform: rotate(-45deg);}
    50% {transform: rotate(-135deg);}
    75% {transform: rotate(-225deg);}
    100% {transform: rotate(-315deg);}
}
.configure-border-1 {width: 115px;height: 115px;padding: 3px;position: absolute;display: flex;justify-content: center;align-items: center;background: var(--color_4);animation: configure-clockwise 3s ease-in-out 0s infinite alternate;}
.configure-border-2 {width: 115px;height: 115px;padding: 3px;left: -115px;display: flex;justify-content: center;align-items: center;background: rgb(255, 255, 255);transform: rotate(45deg);animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;}
.configure-core {width: 100%;height: 100%;background-color: #1d2630;}


.container {max-width: 90%; width: 100%; margin: 0 auto;padding: 15px 0;}
.dflex{display: flex;}
.jbetween{justify-content: space-between;}
.itemscenter{align-items: center;}


.header.headerfixed{background: var(--color_1); position: fixed; left: 0; right: 0; z-index: 9; border-bottom: 1px solid rgb(222, 222, 222);}

.mainsection {background: var(--color_4);height: 100vh;width: 100%;}
.logo {font-family: KdamThmorPro;font-size: 30px;color: var(--color_2);}
.headerRight{gap: 0 15px;}
.header .Phno{font-size: 25px; gap: 0 10px; font-weight: 600;}
.header .Phno img{width: 22px; rotate: 265deg;}
.menuicon{cursor: pointer;}
.closeMenu{font-size: 35px; color: var(--color_2); cursor: pointer; filter: brightness(5.5); position: absolute; right: 5%; top: 5%;}
.navmenu{position: fixed; left: -100%;  top: 0; bottom: 0; height: 100%;width: 100%; background: #000; opacity: 0.9; transform: scale(0); transition: all 1s ease-in-out; z-index: 9;}
.navmenu.active{transform: scale(1); left: 0;}
.menuitems{position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.menuitems .links{display: block; font-size: 25px; color: var(--color_1); margin-bottom: 20px;}
.menuitems .links.active, .menuitems .links:hover{color: var(--color_4);}

.mainsection .mainContent{padding: 100px 0 0 0;}
.mainsection .leftcontent{width: 50%;}
/* .mainsection .mypric{width: 48%;} */
.mainsection .mypric img{height: 500px;width: 500px;object-fit: contain;background: #252525;border-radius: 50%;border: 17px solid #fff;;}
.typed-cursor{display: none;}
.mainContent .lighttext, .mainContent .typedtext{font-size: 40px; text-transform: uppercase;}
.mainContent .typedtext{font-weight: 600; height: 130px; line-height: 130px; font-size: 58px; color: var(--color_2); font-family: KdamThmorPro;}
.mainContent p{margin-bottom: 20px; font-size: 20px;}
.appbtn{padding: 8px 15px; border-radius: 8px; display: inline-block; background: var(--color_2); color: var(--color_1); text-transform: uppercase;}
.mainContent .appbtn {padding: 15px 45px;}



.appheadingbox{text-align: center; margin-bottom: 50px;}
.appheadingbox .smallheading{background-color: var(--color_4); text-transform: capitalize; color: var(--color_2); font-size: 18px; padding: 2px 8px; margin-bottom: 10px; display: inline-block;}
.appheadingbox .heading{font-size: 30px; font-weight: 600;}


.aboutsection{padding: 80px 0;}
.aboutsection .flexdiv .leftdiv{width: 70%;}
.aboutsection .heading, .aboutsection .heading b{font-size: 35px; margin-bottom: 25px; padding-bottom: 8px;}
.aboutsection .heading b{font-size: 35px; border-bottom: 3px solid var(--color_4); font-family: KdamThmorPro;}
.aboutsection p{font-size: 18px; padding-bottom: 20px;  text-align: justify;}
.aboutsection .flexdiv .expdiv{position: relative; font-size: 120px; color: var(--color_3);}
.aboutsection .flexdiv .expdiv::before{content: ''; position: absolute; background-color: var(--color_4); height: 90px;width: 90px; border-radius: 100%; left: 50%;top: 50%;transform: translate(-50%, -50%); z-index: -1;}
.aboutsection .bottomflex{margin-top: 35px;}
.aboutsection .bottomflex span{color: var(--color_3); display: block;font-weight: 600; font-size: 16px;padding-bottom: 5px;margin-bottom: 5px;} 
.aboutsection .bottomflex .boldtest, .aboutsection .bottomflex .boldtest a{font-size: 20px; color: var(--color_2); font-weight: 600;}
/* .aboutsection .bottomflex .boldtest a{font-size: 20px; color: var(--color_2);} */



.resumesection{padding: 100px 0; background: rgba(248,249,250);}
.resumesection .flexdetail{gap: 0 40px; margin-top: 120px;}
.resumesection .colleft, .resumesection .colright{flex: 0 0 auto; width: 43%;}
.resumesection .flexdetail .innerbox{border-left: 2px solid var(--color_4);}
.resumesection .flexdetail .heading{font-size: 30px; color: var(--color_2); margin-bottom: 20px;}
.resumesection .flexdetail .contentdiv{ border-bottom: 1px solid rgb(222, 222, 222); padding: 20px 0; margin-left: 15px;}
.resumesection .flexdetail .subheading{font-size: 25px; text-transform: uppercase; font-weight: 600; font-family: KdamThmorPro;}
.resumesection .flexdetail .contentdiv p{font-size: 18px; padding: 15px 0;}
.resumesection .flexdetail .contentdiv em{font-size: 25px; color: var(--color_2); }


.resumesection .skillsdiv{margin-top: 100px;}
.resumesection .leftdiv, .resumesection .rightdiv{width: 43%;}
.resumesection .skillsdiv .flexskill{padding: 15px 0; margin: 15px 0; position: relative;}
.resumesection .skillsdiv .flexskill p{font-size: 18px; color: #000;}
.resumesection .skillsdiv .flexskill::after, .resumesection .skillsdiv .flexskill::before{content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 9px; border-radius: 10px; background: rgb(186, 186, 186);}
.resumesection .skillsdiv .flexskill::after{background: var(--color_4); border-radius: 0;}
.resumesection .skillsdiv .flexskill.fend::after, .resumesection .skillsdiv .flexskill.jscript::after{width: 75%;}
.resumesection .skillsdiv .flexskill.rJs::after{width: 70%;}
.resumesection .skillsdiv .flexskill.bTwind::after{width 80%;}
.resumesection .skillsdiv .flexskill.htCss::after, .resumesection .skillsdiv .flexskill.bTwind::after{ width: 85%;}

.pfoliofooter{background: var(--color_2); color: var(--color_1); padding: 30px 0;}
.pfoliofooter p, .pfoliofooter a{font-size: 18px;}
.pfoliofooter a{color: var(--color_4); text-decoration: underline;}

.socicons{position: fixed; right: 0; top: 40%;}
.socicons .links{transition: background-color 0.4s ease-in-out; background: var(--color_2); display: block; border-bottom: 1px solid var(--color_1);}
.socicons .links:hover{ background: var(--color_1);}
.socicons .links svg{fill: var(--color_1);padding: 8px;}
.socicons .links svg:hover{fill: var(--color_2);}

@media (max-width:768px) {
    header.headerfixed{top: -59px;}
    .header .container{justify-content: center;}
    .mainContent .lighttext, .mainContent .typedtext{font-size: 19px;}
    .logo{width: fit-content; margin: 0 auto; padding-bottom: 15px;}
    .mainsection{height: auto; padding: 0 0 25px 0;}
    .mainsection .mainContent {padding: 44px 0 0 0;}
    .header .container, .aboutsection .flexdiv, .mainsection .mainContent, .aboutsection .bottomflex, .resumesection .flexdetail, .resumesection .skillsflex, .pfoliofooter .container{flex-wrap: wrap;}
    .mainsection .leftcontent, .aboutsection .flexdiv .leftdiv, .resumesection .colleft, .resumesection .colright, .resumesection .leftdiv, .resumesection .rightdiv{width: 100%;}       
    .mainsection .mypric img{height: auto; width: auto; border-radius: 0; border-width: 6px; margin-top: 25px;}
    .aboutsection .heading, .aboutsection .heading b{font-size: 25px;}
    .resumesection .colright{margin-top: 15px;}
    .resumesection .skillsdiv{margin-top: 25px;}
    .aboutsection .bottomflex .col{width: 100%; padding: 8px 0; margin-bottom: 8px; border-bottom: 1px solid rgb(222, 222, 222);}
    .mainContent .typedtext{height: 98px; line-height: 98px;}
    .aboutsection {padding: 23px 0;}
    .resumesection{padding: 0;}
    .appheadingbox .heading, .resumesection .flexdetail .subheading{font-size: 20px;}
    .resumesection .flexdetail{margin-top: 40px;}
    
    
    .pfoliofooter .container{gap: 15px 0;}
    .pfoliofooter .container p, .pfoliofooter .container a{font-size: 14px;}
} 
