:root {
    --color_1: #fff;
    --color_2: #050505;
    --color_3: #424649;
    --color_4: #f5df4e;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--color_2);
    color: var(--color_1);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.banenr-main {}

.banenr-main .custom-wrapper {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.banenr-main figure {
    width: 57%;
}

.banenr-main figure img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banenr-main .socicons {
    display: flex;
    gap: 0 45px;
    flex-wrap: wrap;
    width: 42%;
}

.banenr-main .heading {
    font-size: 48px;
    width: 100%;
    margin-bottom: 25px;
}

.banenr-main .socicons a {
    position: relative;
    transition: all 0.5s ease-in;
}

.banenr-main .socicons .tooltip {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -40px;
    background: #fff;
    color: #000;
    padding: 5px 15px;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.5s ease;
}

.banenr-main .socicons a:hover .tooltip {
    opacity: 1;
}

.banenr-main .socicons svg {
    height: 120px;
    width: 120px;
    fill: #fff;
}

@media (max-width:768px) {
    .banenr-main .custom-wrapper {
        flex-wrap: wrap;
        max-width: 90%;
        padding: 0 15px;
    }

    .banenr-main .socicons,
    .banenr-main figure {
        width: 100%;
    }

    .banenr-main figure {
        order: 1;
    }

    .banenr-main figure img {
        height: 68vh;
    }

    .banenr-main .socicons {
        order: 2;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }


    .banenr-main .heading {
        font-size: 29px;
    }

    .banenr-main .socicons svg {
        height: 75px;
        width: 75px;
    }
}